<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="w-full bg-white p-2 tex-black flex justify-around">
        <h1 class=" text-2xl font-bold">My Website</h1>
        <ul class="flex flex-wrap gap-3 text-2xl">
            <li ><a href="/">Home</a></li>
            <li ><a href="/read">Show Data</a></li>
        </ul>
    </div>
     <div class="main">
      
        <form action="/update/<%= users._id %>" method="post" class=" border-2 border-white rounded-md w-[300px] h-[60vh] p  ">
            <h1 class="text-center text-white font-bold text-2xl mt-4">Updata User Data</h1>

            <div class="w-full h-full block justify-center mt-4 align-center">
            <input type="text" placeholder="Name:" name="name" value="<%= users.name %>" class="px-6 mt-2 py-2 border-2 mx-6 border-black outline-none rounded-md" >
            <input type="text" placeholder="Email:" name="email" value="<%= users.email %>" class="px-6 mt-2 py-2 border-2 mx-6  border-black outline-none rounded-md">
            <input type="text" placeholder="Image URL:" name="image" value="<%= users.image %>"  class="px-6 mt-2 py-2 border-2 mx-6  border-black outline-none rounded-md">
            <input type="submit"  value="Updata User"  class="px-10 mx-12 text-black bg-yellow-500 mt-2 py-2 border-2 border-black outline-none rounded-md">
        </div>
        </form>
     </div>
    <script src="/javascripts/index.js"></script>
</body>
</html>